<section>
  <div class="row d-flex justify-content-center">
    <h4 class="text-center mb-3">IN MEMORIAM</h4>
  </div>
  <div class="row d-flex justify-content-center mb-4 x">
    <div class="col-12 d-flex justify-content-center">
      <app-memoriam-search></app-memoriam-search>
    </div>
  </div>
  <div class="row">
    @for (memoriam of memoriams; track $index) {
    <div
      class="col-6 col-sm-4 col-md-12 d-flex flex-column align-items-center mb-4 mem-img"
      [routerLink]="['/memoriam-view', memoriam._id]"
    >
      <img
        *ngIf="memoriam.imageId"
        class="img-fluid rounded"
        [src]="apiUrl + '/image/' + memoriam.imageId"
        alt="memoriam image"
        loading="lazy"
        style="border-radius: 50% !important; width: 100px; height: 100px"
      />

      <p
        class="mt-2 mb-0 text-capitalize"
        style="
          font-size: 12px;
          font-weight: bold;
          min-height: 40px;
          line-height: 1.2;
        "
      >
        {{ memoriam.name }}
      </p>
    </div>
    }
  </div>
</section>
