@import 'ngx-toastr/toastr';

body {
    font-family: 'Roboto'
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input, select {
    border: 2px solid #ddd !important;
}

.notice-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .memoriam-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .announcement-width {
    width: 100% !important;

    @media screen and (min-width: 768px) {
      width: 75% !important;
      
  }
  }

  


input:focus {
    /*outline: none;*/
    /*border: 2px solid blue !important;*/
  }
  
  
