body {
    font-family: 'Roboto'
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input {
    border: 2px solid #ddd !important;
}

.notice-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 6px;
  }
  


input:focus {
    /*outline: none;*/
    /*border: 2px solid blue !important;*/
  }
  
  
