@import 'ngx-toastr/toastr';

body {
    font-family: "Libre Baskerville", Georgia, serif !important;
    background-color: #e9e4e9 !important;
}

h1, h2, h3, h4, h5, h6, label {
  letter-spacing: 0.02em !important;
  font-weight: 500 !important;
  color: #5f4b6e !important;
}

textarea {
  width: 100% !important;
  max-width: 700px !important;
  // padding: 2px 2px !important;
}


a {
  cursor: pointer;
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input, select, textarea {
    border: 1px solid rgb(198, 130, 198) !important;
}

.notice-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .memoriam-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .announcement-width {
    width: 100% !important;

    @media screen and (min-width: 768px) {
      width: 75% !important;
      
  }
  }


  .primary-color {
    color: #6b4f7a !important;
  }
  
  .primary-bg-color {
    background-color: #6b4f7a !important;
  }

  .btn-primary {
    color: white !important;
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #5a4268 !important;
      border-color: #6b4f7a !important;
    }
  }

  .btn-secondary {
    color: white !important;
    background-color: #5a4268 !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #6b4f7a !important;
    }
  }

  .form-check-input:checked {
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;
  }

  .alert {
    color: red !important;
  }


input:focus {
    /*outline: none;*/
    /*border: 2px solid blue !important;*/
  }
  
  
