@import 'ngx-toastr/toastr';

body {
    font-family: 'Roboto'
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input, select, textarea {
    border: 1px solid rgb(198, 130, 198) !important;
}

.notice-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .memoriam-image {
    width: 600px !important;
    height: 600px !important;
    object-fit: cover;
    border-radius: 6px;
  }

  .announcement-width {
    width: 100% !important;

    @media screen and (min-width: 768px) {
      width: 75% !important;
      
  }
  }

  .primary-color {
    color: purple !important;
  }
  
  .primary-bg-color {
    background-color: purple !important;
  }

  .btn-primary {
    color: white !important;
    background-color: purple !important;
    border-color: purple !important;

    &:hover {
      color: purple !important;
      background-color: white !important;
      border-color: purple !important;
    }
  }

  .btn-secondary {
    color: purple !important;
    background-color: white !important;
    border-color: purple !important;

    &:hover {
      color: white !important;
      background-color: purple !important;
    }
  }

  .form-check-input:checked {
    background-color: purple !important;
    border-color: purple !important;
  }

  .alert {
    color: red !important;
  }


input:focus {
    /*outline: none;*/
    /*border: 2px solid blue !important;*/
  }
  
  
