.navbar .nav-link {
    position: relative;
    font-weight: 500;
    color: var(--bs-secondary-color);
  }
  
  .navbar .nav-link.active {
    color: #6b4f7a !important;
    // color: var(--bs-primary);
  }
  
  .navbar .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    // background-color: var(--bs-primary);
    background-color: #6b4f7a !important;
  }
  
  