<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 col-md-9">
      <div class="row d-flex justify-content-center">
        <h4 class="text-muted text-center mb-3">DEARLY DEPARTED</h4>
        @for (notice of notices; track $index) {
        <div
          class="col-12 col-sm-6 col-md-3 col-lg-2-5 d-flex flex-column align-items-center mb-4"
          [routerLink]="['/death-notice', notice._id]"
        >
          <!-- <img
            *ngIf="!notice.imageId"
            class="img-fluid"
            src="assets/img/{{ notice.img }}"
          /> -->
          <img
            *ngIf="notice.imageId"
            class="img-fluid"
            [src]="apiUrl + '/image/' + notice.imageId"
            alt="Notice image"
            loading="lazy"
          />

          <p
            class="mt-2 mb-0 text-capitalize"
            style="
              font-size: 12px;
              font-weight: bold;
              min-height: 40px;
              line-height: 1.2;
            "
          >
            {{ notice.name }}
          </p>

          <p class="mb-0" style="font-size: 12px">
            {{ notice.death_date | date : "MMMM d, yyyy" }}
          </p>
        </div>
        }
      </div>
    </div>
    <div
      class="col-12 col-md-3 mt-4 mt-md-0 d-md-flex flex-column align-items-center"
    >
      <div class="row">
        <div class="d-flex align-items-center justify-content-center mb-3">
          <h4 class="text-muted">IN MEMORIAM</h4>
        </div>
        @for (notice of notices; track $index) {
        <div
          class="col-6 col-sm-4 col-md-12 d-flex flex-column align-items-center mb-4"
        >
          <img
            class="img-fluid rounded"
            src="assets/img/{{ notice.img }}"
            style="border-radius: 50% !important; width: 100px; height: 100px"
          />

          <p
            class="mt-2 mb-0 text-capitalize"
            style="
              font-size: 12px;
              font-weight: bold;
              min-height: 40px;
              line-height: 1.2;
            "
          >
            {{ notice.name }}
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
