.top-column {
    // height: 360px !important;
    display: flex; 
    justify-content: center !important;

    @media screen and (min-width: 768px) {
        height: 270px !important; 
    }
}

.person-card {
    // height: 50% !important; /* 3/4 of the column */
    display: flex; 
    justify-content: center !important;
    flex-direction: column !important;

    // @media screen and (min-width: 768px) {
    //     height: 50% !important; 
    // }
  }


  img {
    height: 200px;
    width: 254px;; 

    @media screen and (min-width: 768px) {
        height: 175px; 

        object-fit: cover;
    }
  }

  @media (min-width: 992px) {
    .col-lg-2-5 {
      flex: 0 0 auto;
      width: 19.66666667%;
    }
  }