<div class="container my-2">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 text-center my-3">
      <h2 class="fw-bold text-muted">Memoriam Entry Form</h2>
      <small>
        Please fill out the form below to submit a memoriam. Fields marked with
        an asterisk (<span class="text-danger fw-bold">*</span>) are required.
      </small>
    </div>
    <div class="col-12">
      <form
        #memoriamForm="ngForm"
        class="d-flex flex-column justify-content-center"
      >
        <section class="">
          <app-image-upload />
        </section>

        <section class="mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="row d-none d-lg-flex">
                <div class="col-6 col-lg-4">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)">Name</span></strong
                    ></label
                  >
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none me-2"
                    ><strong
                      ><span class="w-100" style="color: rgb(0, 0, 0)"
                        >Name:</span
                      ></strong
                    ></label
                  ><input
                    class="form-control"
                    type="text"
                    name="name"
                    [(ngModel)]="memoriamEntryModel.name"
                    required
                    #name="ngModel"
                    (change)="saveMemoriamData()"
                    style="border-width: 1.8px; width: 100%"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="d-flex justify-content-center">
            <div class="col-12 col-md-8">
              <label
                class="form-label fw-bold"
                style="font-size: 18px; text-decoration: underline"
                >Enter Memoriam:</label
              ><textarea
                class="form-control"
                style="border-width: 1.8px"
                rows="15"
                name="announcement"
                [(ngModel)]="memoriamEntryModel.announcement"
                #announcement="ngModel"
                (selectionchange)="saveMemoriamData()"
              ></textarea>
            </div>
          </div>
        </section>

        <!-- EMAIL -->
        <section class="mt-5">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <label class="fw-bold fs-5">
                Your Email <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                type="email"
                name="email"
                required
                [(ngModel)]="memoriamEntryModel.email"
                (change)="saveMemoriamData()"
              />
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
              <div class="col-12 col-md-4">
                <label class="form-label fw-bold">Amount:</label>
                <span class="fs-5 ms-2">{{ memoriamPrice | currency }}</span>
              </div>
              <h6 class="fw-bold mt-2">Enter Credit Card Info</h6>
              <div
                id="card-element"
                class="p-3 border rounded"
                style="border: 1px solid gray !important"
              ></div>
            </div>
          </div>
          <div class="row mt-2 d-flex justify-content-center">
            <div class="col-12 col-md-4">
              <button
                class="btn btn-primary px-4 py-2"
                type="button"
                (click)="submitMemoriam()"
              >
                Submit Memoriam
              </button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
