<div class="container my-4">
  <form #noticeForm="ngForm">
    <!-- HEADER -->
    <section class="mb-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <h2 class="fw-bold text-center mb-2">Submit a Death Notice</h2>
          <div class="divider mx-auto mb-2"></div>
          <p class="text-muted text-center mb-4">
            Please complete the information below.
          </p>
        </div>
      </div>
    </section>
    <div class="progress mb-4">
      <div class="progress-bar" [style.width.%]="formCompletionPercent"></div>
    </div>

    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <app-image-upload />
          </div>
        </div>
      </div>
    </div>

    <!-- NAME / DATES -->
    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="row d-none d-lg-flex mb-2">
              <div class="col-lg-4">
                <label class="fw-bold">Name</label>
                <span class="text-danger">*</span>
              </div>
              <div class="col-lg-4">
                <label class="fw-bold">Date of Birth</label>
              </div>
              <div class="col-lg-4">
                <label class="fw-bold">Date of Death</label>
                <span class="text-danger">*</span>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-4 mb-3">
                <label class="d-lg-none fw-bold">
                  Name <span class="text-danger">*</span>
                </label>
                <input
                  class="form-control"
                  name="noticeName"
                  #name="ngModel"
                  [(ngModel)]="noticeEntryModel.name"
                  required
                  (change)="saveNoticeData()"
                  [ngClass]="{
                    'is-valid': name.valid && (name.dirty || name.touched),
                    'is-invalid': name.invalid && (name.dirty || name.touched)
                  }"
                />
                <div
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="alert"
                >
                  <div *ngIf="name.hasError('required')" class="alert">
                    <small>Name is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4 mb-3">
                <label class="d-lg-none fw-bold">Date of Birth</label>
                <input
                  class="form-control"
                  type="date"
                  name="birth_date"
                  [(ngModel)]="noticeEntryModel.birth_date_str"
                  (change)="saveNoticeData()"
                />
              </div>

              <div class="col-12 col-lg-4 mb-3">
                <label class="d-lg-none fw-bold">
                  Date of Death <span class="text-danger">*</span>
                </label>
                <input
                  class="form-control"
                  type="date"
                  name="death_date"
                  required=""
                  [(ngModel)]="noticeEntryModel.death_date_str"
                  (change)="saveNoticeData()"
                  #death_date="ngModel"
                  required
                  [ngClass]="{
                    'is-valid':
                      death_date.valid &&
                      (death_date.dirty || death_date.touched),
                    'is-invalid':
                      death_date.invalid &&
                      (death_date.dirty || death_date.touched)
                  }"
                />
                <div
                  *ngIf="
                    death_date.invalid &&
                    (death_date.dirty || death_date.touched)
                  "
                  class="alert"
                >
                  <div *ngIf="death_date.hasError('required')" class="alert">
                    <small>Death date is required.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ANNOUNCEMENT -->
    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <label class="form-label fw-bold fs-5">
              Enter Obituary <span class="text-danger">*</span>
            </label>
            <textarea
              class="form-control"
              rows="15"
              name="announcement"
              #announcement="ngModel"
              required
              [(ngModel)]="noticeEntryModel.announcement"
              (change)="saveNoticeData()"
              [ngClass]="{
                'is-valid':
                  announcement.valid &&
                  (announcement.dirty || announcement.touched),
                'is-invalid':
                  announcement.invalid &&
                  (announcement.dirty || announcement.touched)
              }"
            ></textarea>

            <div
              *ngIf="
                announcement.invalid &&
                (announcement.dirty || announcement.touched)
              "
              class="alert"
            >
              <div *ngIf="announcement.hasError('required')" class="alert">
                <small>announcement is required.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- EVENTS -->

    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row d-flex justify-content-center">
          <div class="col-6 col-md-8 col-lg-6">
            <div class="col-12 mb-2">
              <h5 class="fw-semibold mb-2 d-inline-block">Events</h5>
              <small class="ms-2 d-inline-block"
                >(Wake, burial, repast, etc.)</small
              >
            </div>

            <div
              class="row mb-3 p-1"
              style="border: 2px solid #ddd"
              *ngFor="let event of noticeEntryModel.events; let i = index"
            >
              <h6 class="fw-bold mb-3 d-md-flex justify-content-center">
                Event {{ i + 1 }}:
              </h6>
              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2">
                  <strong>Type: <span class="text-danger">*</span></strong>
                </label>

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.type"
                    (change)="saveNoticeData()"
                    name="eventType{{ i }}"
                    #eventType="ngModel"
                    required
                    [ngClass]="{
                      'is-valid':
                        eventType.valid &&
                        (eventType.dirty || eventType.touched),
                      'is-invalid':
                        eventType.invalid &&
                        (eventType.dirty || eventType.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      eventType.invalid &&
                      (eventType.dirty || eventType.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Event type is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >Date: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="date"
                    [(ngModel)]="event.date_str"
                    (change)="saveNoticeData()"
                    required
                    name="eventDate{{ i }}"
                    #eventDate="ngModel"
                    [ngClass]="{
                      'is-valid':
                        eventDate.valid &&
                        (eventDate.dirty || eventDate.touched),
                      'is-invalid':
                        eventDate.invalid &&
                        (eventDate.dirty || eventDate.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      eventDate.invalid &&
                      (eventDate.dirty || eventDate.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Event date is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >Time: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="time"
                    [(ngModel)]="event.time"
                    (change)="saveNoticeData()"
                    required
                    name="eventTime{{ i }}"
                    #eventTime="ngModel"
                    [ngClass]="{
                      'is-valid':
                        eventTime.valid &&
                        (eventTime.dirty || eventTime.touched),
                      'is-invalid':
                        eventTime.invalid &&
                        (eventTime.dirty || eventTime.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      eventTime.invalid &&
                      (eventTime.dirty || eventTime.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Event time is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >Location: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.location"
                    (change)="saveNoticeData()"
                    required
                    name="eventLocation{{ i }}"
                    #location="ngModel"
                    [ngClass]="{
                      'is-valid':
                        location.valid && (location.dirty || location.touched),
                      'is-invalid':
                        location.invalid && (location.dirty || location.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      location.invalid && (location.dirty || location.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Location is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >Address: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.address"
                    (change)="saveNoticeData()"
                    required
                    name="eventAddress{{ i }}"
                    #address="ngModel"
                    [ngClass]="{
                      'is-valid':
                        address.valid && (address.dirty || address.touched),
                      'is-invalid':
                        address.invalid && (address.dirty || address.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      address.invalid && (address.dirty || address.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Address is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >City: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.city"
                    (change)="saveNoticeData()"
                    required
                    name="eventCity{{ i }}"
                    #eventCity="ngModel"
                    [ngClass]="{
                      'is-valid':
                        eventCity.valid &&
                        (eventCity.dirty || eventCity.touched),
                      'is-invalid':
                        eventCity.invalid &&
                        (eventCity.dirty || eventCity.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      eventCity.invalid &&
                      (eventCity.dirty || eventCity.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Event city is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 mb-3 d-md-flex align-items-start">
                <label class="form-label me-2 mt-2"
                  ><strong
                    >State: <span class="text-danger">*</span></strong
                  ></label
                >

                <div class="flex-grow-1">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.state"
                    (change)="saveNoticeData()"
                    required
                    name="eventState{{ i }}"
                    #state="ngModel"
                    [ngClass]="{
                      'is-valid': state.valid && (state.dirty || state.touched),
                      'is-invalid':
                        state.invalid && (state.dirty || state.touched)
                    }"
                  />

                  <div
                    *ngIf="state.invalid && (state.dirty || state.touched)"
                    class="text-danger mt-1"
                  >
                    <small>State is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-1 d-flex align-items-end">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  (click)="removeEvent(i)"
                  *ngIf="noticeEntryModel.events.length > 1"
                >
                  <!-- <i class="bi bi-x-lg"></i> -->
                  <i class="fa fa-times fs-1-"></i>
                </button>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-outline-primary btn-secondary mt-2"
              (click)="addEvent()"
            >
              + Add Another Event
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <!-- Section title -->
            <div class="mb-2">
              <!-- <label class="form-label fw-bold" style="font-size: 18px">
                Contact Information:
              </label> -->

              <h5 class="fw-semibold mb-2 d-inline-block">Contacts</h5>
            </div>

            <div class="row d-none d-lg-flex">
              <div class="col-6 col-lg-4">
                <label class="col-form-label fw-bold">
                  Name <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-6 col-lg-4">
                <label class="col-form-label fw-bold">Relationship</label>
              </div>
              <div class="col-6 col-lg-4">
                <label class="col-form-label fw-bold"
                  >Phone <span class="text-danger">*</span></label
                >
              </div>
            </div>

            <div
              class="row mb-3"
              *ngFor="let contact of noticeEntryModel.contacts; let i = index"
            >
              <!-- <h6 class="fw-bold mb-3 d-md-flex justify-content-center">
                Contact {{ i + 1 }}:
              </h6> -->
              <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <label class="form-label d-lg-none me-2 fw-bold">
                  Name: <span class="text-danger">*</span>
                </label>

                <div>
                  <input
                    class="form-control"
                    type="text"
                    name="contactName{{ i }}"
                    [(ngModel)]="contact.name"
                    required
                    #contactNameCtrl="ngModel"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                    [ngClass]="{
                      'is-valid':
                        contactNameCtrl.valid &&
                        (contactNameCtrl.dirty || contactNameCtrl.touched),
                      'is-invalid':
                        contactNameCtrl.invalid &&
                        (contactNameCtrl.dirty || contactNameCtrl.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      contactNameCtrl.invalid &&
                      (contactNameCtrl.dirty || contactNameCtrl.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Name is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <label class="form-label d-lg-none me-2 fw-bold">
                  Relationship:
                </label>

                <div>
                  <input
                    class="form-control"
                    type="text"
                    name="relationship{{ i }}"
                    [(ngModel)]="contact.relationship"
                    #relationship="ngModel"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>
              </div>

              <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <label class="form-label d-lg-none me-2">
                  Phone: <span class="text-danger">*</span>
                </label>

                <div>
                  <input
                    class="form-control"
                    type="text"
                    name="phone{{ i }}"
                    [(ngModel)]="contact.phone"
                    required
                    #phoneCtrl="ngModel"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                    [ngClass]="{
                      'is-valid':
                        phoneCtrl.valid &&
                        (phoneCtrl.dirty || phoneCtrl.touched),
                      'is-invalid':
                        phoneCtrl.invalid &&
                        (phoneCtrl.dirty || phoneCtrl.touched)
                    }"
                  />

                  <div
                    *ngIf="
                      phoneCtrl.invalid &&
                      (phoneCtrl.dirty || phoneCtrl.touched)
                    "
                    class="text-danger mt-1"
                  >
                    <small>Phone is required.</small>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-1 d-flex align-items-end">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  (click)="removeContact(i)"
                  *ngIf="noticeEntryModel.contacts.length > 1"
                >
                  <i class="fa fa-times fs-1-"></i>
                </button>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-outline-primary btn-secondary mt-2"
              (click)="addContact()"
            >
              + Add Another Contact
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- GROUPS -->
    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6" #groupContainer>
            <!-- <div class="col-12 col-md-6"> -->
            <label class="fw-bold fs-5">Groups</label>
            <small class="text-muted ms-2">(optional)</small>

            <p class="small text-muted mt-1">
              If the deceased was part of a group (school, work, family, etc.),
              you may select or create a group to enable group-based searches.
            </p>

            <!-- SEARCH INPUT -->
            <div class="mt-3 position-relative">
              <input
                type="text"
                class="form-control"
                name="groupSearch"
                placeholder="Select or create groups..."
                [value]="groupSearch"
                (input)="onGroupSearch($event)"
                (focus)="showGroupDropdown = true"
                autocomplete="off"
              />

              <!-- DROPDOWN -->
              <div
                *ngIf="showGroupDropdown"
                class="group-dropdown shadow-sm border rounded bg-white mt-1"
              >
                <!-- Existing Groups -->
                <div
                  *ngFor="let group of filteredGroups()"
                  class="dropdown-item d-flex align-items-center"
                >
                  <input
                    type="checkbox"
                    class="form-check-input me-2"
                    [checked]="isGroupSelected(group)"
                    (change)="toggleGroup(group)"
                  />

                  {{ group.name }}
                </div>

                <!-- Create New Option -->
                <div
                  *ngIf="groupSearch?.trim() && !groupExists(groupSearch)"
                  class="dropdown-item text-primary"
                  (click)="createGroupFromSearch()"
                  style="cursor: pointer"
                >
                  + Create "{{ groupSearch }}"
                </div>
              </div>
            </div>

            <!-- SELECTED BADGES -->
            <div class="mt-3">
              <span
                *ngFor="let group of selectedGroups"
                class="badge bg-primary me-2 mb-2"
              >
                {{ group.name }}
                <span
                  class="ms-2"
                  style="cursor: pointer"
                  (click)="removeGroup2(group._id)"
                >
                  ✕
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PERSONAL INFORMATION -->
    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <!-- Section Title -->
            <div class="mb-3">
              <label class="form-label fw-bold fs-5">
                Personal Information:
              </label>
            </div>

            <!-- Desktop Header Row (like Contact section) -->
            <div class="row d-none d-md-flex mb-2">
              <div class="col-md-6">
                <label class="fw-bold">
                  Your Name <span class="text-danger">*</span>
                </label>
              </div>
              <div class="col-md-6">
                <label class="fw-bold">
                  Your Email <span class="text-danger">*</span>
                </label>
              </div>
            </div>

            <!-- Inputs Row -->
            <div class="row">
              <!-- Name -->
              <div class="col-12 col-md-6 mb-3">
                <label class="d-md-none fw-bold">
                  Your Name <span class="text-danger">*</span>
                </label>

                <input
                  class="form-control"
                  [(ngModel)]="noticeEntryModel.buyer_name"
                  name="buyer_name"
                  type="text"
                  required
                  #buyer_name="ngModel"
                  (change)="saveNoticeData()"
                  [ngClass]="{
                    'is-valid':
                      buyer_name.valid &&
                      (buyer_name.dirty || buyer_name.touched),
                    'is-invalid':
                      buyer_name.invalid &&
                      (buyer_name.dirty || buyer_name.touched)
                  }"
                />

                <div
                  *ngIf="
                    buyer_name.invalid &&
                    (buyer_name.dirty || buyer_name.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Name is required.</small>
                </div>
              </div>

              <!-- Email -->
              <div class="col-12 col-md-6 mb-3">
                <label class="d-md-none fw-bold">
                  Your Email <span class="text-danger">*</span>
                </label>

                <input
                  class="form-control"
                  [(ngModel)]="noticeEntryModel.email"
                  name="buyer_email"
                  type="email"
                  required
                  #buyer_email="ngModel"
                  (change)="saveNoticeData()"
                  [ngClass]="{
                    'is-valid':
                      buyer_email.valid &&
                      (buyer_email.dirty || buyer_email.touched),
                    'is-invalid':
                      buyer_email.invalid &&
                      (buyer_email.dirty || buyer_email.touched)
                  }"
                />

                <div
                  *ngIf="
                    buyer_email.invalid &&
                    (buyer_email.dirty || buyer_email.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Email is required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAYMENT METHOD -->
    <div class="card shadow-sm border-0 mb-5">
      <div class="card-body p-4">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <label class="fw-bold fs-5">Payment Method</label>

            <div class="form-check mt-3">
              <input
                class="form-check-input"
                type="radio"
                value="PayPal"
                name="paymentMethod"
                [(ngModel)]="paymentType"
                (change)="onPaymentTypeChange(); saveNoticeData()"
              />
              <label class="form-check-label fw-bold fst-italic">
                PayPal
              </label>
            </div>

            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="radio"
                value="CreditCard"
                name="paymentMethod"
                [(ngModel)]="paymentType"
                (change)="onPaymentTypeCreditCard(); saveNoticeData()"
              />
              <label class="form-check-label fw-bold"> Credit Card </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CREDIT CARD -->
    <ng-container *ngIf="paymentType === 'CreditCard'">
      <div class="card shadow-sm border-0 mb-5">
        <div class="card-body p-4">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <div class="mb-2">
                <label class="fw-bold">Amount:</label>
                <span class="fs-5 ms-2">
                  {{ noticePrice | currency }}
                </span>
              </div>

              <h6 class="fw-bold">
                Enter Credit Card Info
                <span class="text-danger">*</span>
              </h6>

              <div id="card-element" class="p-3 border rounded mt-2"></div>

              <div class="mt-4 d-flex justify-content-center">
                <div class="sticky-submit">
                  <button
                    class="btn btn-primary btn-lg"
                    (click)="submitNotice()"
                    [disabled]="
                      !noticeForm.valid || !noticeEntryModel.imageFile
                    "
                  >
                    Submit Death Notice
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- PAYPAL -->
    <ng-container *ngIf="paymentType === 'PayPal'">
      <div class="card shadow-sm border-0 mb-5">
        <div class="card-body p-4">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
              <app-paypal-button />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
