<div class="container my-4">
  <form #noticeForm="ngForm">
    <!-- HEADER -->
    <section class="mb-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <h2 class="">Death Notice Entry Form</h2>
          <small class="text-muted">
            Please fill out the form below to submit a death notice. Fields
            marked with an asterisk (<span class="text-danger fw-bold">*</span>)
            are required.
          </small>
        </div>
      </div>
    </section>

    <!-- IMAGE UPLOAD -->
    <section class="mt-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <app-image-upload />
        </div>
      </div>
    </section>

    <!-- NAME / DATES -->
    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="row d-none d-lg-flex mb-2">
            <div class="col-lg-4">
              <label class="fw-bold">Name</label>
              <span class="text-danger">*</span>
            </div>
            <div class="col-lg-4">
              <label class="fw-bold">Date of Birth</label>
            </div>
            <div class="col-lg-4">
              <label class="fw-bold">Date of Death</label>
              <span class="text-danger">*</span>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-lg-4 mb-3">
              <label class="d-lg-none fw-bold">
                Name <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                name="noticeName"
                #name="ngModel"
                [(ngModel)]="noticeEntryModel.name"
                required
                (change)="saveNoticeData()"
                [ngClass]="{
                  'is-valid': name.valid && (name.dirty || name.touched),
                  'is-invalid': name.invalid && (name.dirty || name.touched)
                }"
              />
              <div
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert"
              >
                <div *ngIf="name.hasError('required')" class="alert">
                  <small>Name is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-3">
              <label class="d-lg-none fw-bold">Date of Birth</label>
              <input
                class="form-control"
                type="date"
                name="birth_date"
                [(ngModel)]="noticeEntryModel.birth_date"
                (change)="saveNoticeData()"
              />
            </div>

            <div class="col-12 col-lg-4 mb-3">
              <label class="d-lg-none fw-bold">
                Date of Death <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                type="date"
                name="death_date"
                required=""
                [(ngModel)]="noticeEntryModel.death_date"
                (change)="saveNoticeData()"
                #death_date="ngModel"
                required
                [ngClass]="{
                  'is-valid':
                    death_date.valid &&
                    (death_date.dirty || death_date.touched),
                  'is-invalid':
                    death_date.invalid &&
                    (death_date.dirty || death_date.touched)
                }"
              />
              <div
                *ngIf="
                  death_date.invalid && (death_date.dirty || death_date.touched)
                "
                class="alert"
              >
                <div *ngIf="death_date.hasError('required')" class="alert">
                  <small>Death date is required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ANNOUNCEMENT -->
    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <label class="form-label fw-bold fs-5">
            Death Announcement <span class="text-danger">*</span>
          </label>
          <textarea
            class="form-control"
            rows="15"
            name="announcement"
            #announcement="ngModel"
            required
            [(ngModel)]="noticeEntryModel.announcement"
            (change)="saveNoticeData()"
            [ngClass]="{
              'is-valid':
                announcement.valid &&
                (announcement.dirty || announcement.touched),
              'is-invalid':
                announcement.invalid &&
                (announcement.dirty || announcement.touched)
            }"
          ></textarea>

          <div
            *ngIf="
              announcement.invalid &&
              (announcement.dirty || announcement.touched)
            "
            class="alert"
          >
            <div *ngIf="announcement.hasError('required')" class="alert">
              <small>announcement is required.</small>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- EVENTS -->

    <section class="mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-6 col-md-8 col-lg-6">
          <div class="col-12 mb-2">
            <label class="form-label fw-bold" style="font-size: 18px"
              >Edit Events:</label
            ><small class="ms-2">(Wake, burial, repast, etc.)</small>
          </div>

          <div
            class="row mb-3 p-1"
            style="border: 2px solid #ddd"
            *ngFor="let event of noticeEntryModel.events; let i = index"
          >
            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2">
                <strong>Type: <span class="text-danger">*</span></strong>
              </label>

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="event.type"
                  (change)="saveNoticeData()"
                  name="eventType{{ i }}"
                  #eventType="ngModel"
                  required
                  [ngClass]="{
                    'is-valid':
                      eventType.valid && (eventType.dirty || eventType.touched),
                    'is-invalid':
                      eventType.invalid &&
                      (eventType.dirty || eventType.touched)
                  }"
                />

                <div
                  *ngIf="
                    eventType.invalid && (eventType.dirty || eventType.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Event type is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >Date: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="date"
                  [(ngModel)]="event.date_str"
                  (change)="saveNoticeData()"
                  required
                  name="eventDate{{ i }}"
                  #eventDate="ngModel"
                  [ngClass]="{
                    'is-valid':
                      eventDate.valid && (eventDate.dirty || eventDate.touched),
                    'is-invalid':
                      eventDate.invalid &&
                      (eventDate.dirty || eventDate.touched)
                  }"
                />

                <div
                  *ngIf="
                    eventDate.invalid && (eventDate.dirty || eventDate.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Event date is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >Time: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="time"
                  [(ngModel)]="event.time"
                  (change)="saveNoticeData()"
                  required
                  name="eventTime{{ i }}"
                  #eventTime="ngModel"
                  [ngClass]="{
                    'is-valid':
                      eventTime.valid && (eventTime.dirty || eventTime.touched),
                    'is-invalid':
                      eventTime.invalid &&
                      (eventTime.dirty || eventTime.touched)
                  }"
                />

                <div
                  *ngIf="
                    eventTime.invalid && (eventTime.dirty || eventTime.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Event time is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >Location: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="event.location"
                  (change)="saveNoticeData()"
                  required
                  name="eventLocation{{ i }}"
                  #location="ngModel"
                  [ngClass]="{
                    'is-valid':
                      location.valid && (location.dirty || location.touched),
                    'is-invalid':
                      location.invalid && (location.dirty || location.touched)
                  }"
                />

                <div
                  *ngIf="
                    location.invalid && (location.dirty || location.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Location is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >Address: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="event.address"
                  (change)="saveNoticeData()"
                  required
                  name="eventAddress{{ i }}"
                  #address="ngModel"
                  [ngClass]="{
                    'is-valid':
                      address.valid && (address.dirty || address.touched),
                    'is-invalid':
                      address.invalid && (address.dirty || address.touched)
                  }"
                />

                <div
                  *ngIf="address.invalid && (address.dirty || address.touched)"
                  class="text-danger mt-1"
                >
                  <small>Address is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >City: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="event.city"
                  (change)="saveNoticeData()"
                  required
                  name="eventCity{{ i }}"
                  #eventCity="ngModel"
                  [ngClass]="{
                    'is-valid':
                      eventCity.valid && (eventCity.dirty || eventCity.touched),
                    'is-invalid':
                      eventCity.invalid &&
                      (eventCity.dirty || eventCity.touched)
                  }"
                />

                <div
                  *ngIf="
                    eventCity.invalid && (eventCity.dirty || eventCity.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Event city is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3 d-md-flex align-items-start">
              <label class="form-label me-2 mt-2"
                ><strong
                  >State: <span class="text-danger">*</span></strong
                ></label
              >

              <div class="flex-grow-1">
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="event.state"
                  (change)="saveNoticeData()"
                  required
                  name="eventState{{ i }}"
                  #state="ngModel"
                  [ngClass]="{
                    'is-valid': state.valid && (state.dirty || state.touched),
                    'is-invalid':
                      state.invalid && (state.dirty || state.touched)
                  }"
                />

                <div
                  *ngIf="state.invalid && (state.dirty || state.touched)"
                  class="text-danger mt-1"
                >
                  <small>State is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-1 d-flex align-items-end">
              <button
                type="button"
                class="btn btn-danger"
                (click)="removeEvent(i)"
                *ngIf="noticeEntryModel.events.length > 1"
              >
                ✕
              </button>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-outline-primary btn-secondary mt-2"
            (click)="addEvent()"
          >
            + Add Another Event
          </button>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <!-- Section title -->
          <div class="mb-2">
            <label class="form-label fw-bold" style="font-size: 18px">
              Contact Information:
            </label>
          </div>

          <div class="row d-none d-lg-flex">
            <div class="col-6 col-lg-4">
              <label class="col-form-label fw-bold">
                Name <span class="text-danger">*</span>
              </label>
            </div>
            <div class="col-6 col-lg-4">
              <label class="col-form-label fw-bold">Relationship</label>
            </div>
            <div class="col-6 col-lg-4">
              <label class="col-form-label fw-bold"
                >Phone <span class="text-danger">*</span></label
              >
            </div>
          </div>

          <div
            class="row mb-3"
            *ngFor="let contact of noticeEntryModel.contacts; let i = index"
          >
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
              <label class="form-label d-lg-none me-2 fw-bold">
                Name: <span class="text-danger">*</span>
              </label>

              <div>
                <input
                  class="form-control"
                  type="text"
                  name="contactName{{ i }}"
                  [(ngModel)]="contact.name"
                  required
                  #contactNameCtrl="ngModel"
                  (change)="saveNoticeData()"
                  style="border-width: 1.8px"
                  [ngClass]="{
                    'is-valid':
                      contactNameCtrl.valid &&
                      (contactNameCtrl.dirty || contactNameCtrl.touched),
                    'is-invalid':
                      contactNameCtrl.invalid &&
                      (contactNameCtrl.dirty || contactNameCtrl.touched)
                  }"
                />

                <div
                  *ngIf="
                    contactNameCtrl.invalid &&
                    (contactNameCtrl.dirty || contactNameCtrl.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Name is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
              <label class="form-label d-lg-none me-2 fw-bold">
                Relationship:
              </label>

              <div>
                <input
                  class="form-control"
                  type="text"
                  name="relationship{{ i }}"
                  [(ngModel)]="contact.relationship"
                  #relationship="ngModel"
                  (change)="saveNoticeData()"
                  style="border-width: 1.8px"
                />
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
              <label class="form-label d-lg-none me-2">
                Phone: <span class="text-danger">*</span>
              </label>

              <div>
                <input
                  class="form-control"
                  type="text"
                  name="phone{{ i }}"
                  [(ngModel)]="contact.phone"
                  required
                  #phoneCtrl="ngModel"
                  (change)="saveNoticeData()"
                  style="border-width: 1.8px"
                  [ngClass]="{
                    'is-valid':
                      phoneCtrl.valid && (phoneCtrl.dirty || phoneCtrl.touched),
                    'is-invalid':
                      phoneCtrl.invalid &&
                      (phoneCtrl.dirty || phoneCtrl.touched)
                  }"
                />

                <div
                  *ngIf="
                    phoneCtrl.invalid && (phoneCtrl.dirty || phoneCtrl.touched)
                  "
                  class="text-danger mt-1"
                >
                  <small>Phone is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-1 d-flex align-items-end">
              <button
                type="button"
                class="btn btn-danger"
                (click)="removeContact(i)"
                *ngIf="noticeEntryModel.contacts.length > 1"
              >
                ✕
              </button>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-outline-primary btn-secondary mt-2"
            (click)="addContact()"
          >
            + Add Another Contact
          </button>
        </div>
      </div>
    </section>

    <!-- EMAIL -->
    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <label class="fw-bold">
            Your Name: <span class="text-danger">*</span>
          </label>
          <input
            class="form-control"
            [(ngModel)]="noticeEntryModel.buyer_name"
            name="buyer_name"
            type="text"
            required
            (change)="saveNoticeData()"
            #buyer_name="ngModel"
            (change)="saveNoticeData()"
            style="border-width: 1.8px"
            [ngClass]="{
              'is-valid':
                buyer_name.valid && (buyer_name.dirty || buyer_name.touched),
              'is-invalid':
                buyer_name.invalid && (buyer_name.dirty || buyer_name.touched)
            }"
          />

          <div
            *ngIf="
              buyer_name.invalid && (buyer_name.dirty || buyer_name.touched)
            "
            class="text-danger mt-1"
          >
            <small>Name is required.</small>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <label class="fw-bold"
            >Your Email: <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            [(ngModel)]="noticeEntryModel.email"
            name="buyer_email"
            type="email"
            required
            (change)="saveNoticeData()"
            #buyer_email="ngModel"
            (change)="saveNoticeData()"
            style="border-width: 1.8px"
            [ngClass]="{
              'is-valid':
                buyer_email.valid && (buyer_email.dirty || buyer_email.touched),
              'is-invalid':
                buyer_email.invalid &&
                (buyer_email.dirty || buyer_email.touched)
            }"
          />

          <div
            *ngIf="
              buyer_email.invalid && (buyer_email.dirty || buyer_email.touched)
            "
            class="text-danger mt-1"
          >
            <small>Email is required.</small>
          </div>
        </div>
      </div>
    </section>

    <!-- GROUPS -->
    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <label class="fw-bold fs-5">Groups</label>
          <small class="text-muted ms-2">(optional)</small>

          <p class="small text-muted mt-1">
            If the deceased was part of a group (school, work, family, etc.),
            you may select or create a group to enable group-based searches.
          </p>

          <label class="fw-bold mt-3">Select group(s)</label>
          <small class="ms-2">(Ctrl + click for multiple)</small>

          <select
            class="form-select mt-1"
            multiple
            [(ngModel)]="selectedGroups"
            (change)="addDeceasedGroup(); saveNoticeData()"
          >
            <option *ngFor="let group of groups" [ngValue]="group">
              {{ group.name }}
            </option>
          </select>

          <label class="fw-bold mt-4">Create a new group</label>

          <div class="row g-2 mt-1">
            <div class="col-12 col-md-9">
              <input
                class="form-control"
                [(ngModel)]="newGroup"
                name="newGroup"
              />
            </div>
            <div class="col-12 col-md-3">
              <button
                type="button"
                class="btn btn-outline-primary btn-secondary w-100"
                (click)="addNewGroup()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAYMENT METHOD -->
    <section class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <label class="fw-bold fs-5">Payment Method</label>

          <div class="form-check mt-3">
            <input
              class="form-check-input"
              type="radio"
              value="PayPal"
              name="paymentMethod"
              [(ngModel)]="paymentType"
              (change)="onPaymentTypeChange(); saveNoticeData()"
            />
            <label class="form-check-label fw-bold fst-italic"> PayPal </label>
          </div>

          <div class="form-check mt-2">
            <input
              class="form-check-input"
              type="radio"
              value="CreditCard"
              name="paymentMethod"
              [(ngModel)]="paymentType"
              (change)="onPaymentTypeCreditCard(); saveNoticeData()"
            />
            <label class="form-check-label fw-bold"> Credit Card </label>
          </div>
        </div>
      </div>
    </section>

    <!-- CREDIT CARD -->
    <ng-container *ngIf="paymentType === 'CreditCard'">
      <section class="mt-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div class="mb-2">
              <strong>Amount:</strong>
              <span class="fs-5 ms-2">
                {{ noticePrice | currency }}
              </span>
            </div>

            <h6 class="fw-bold">
              Enter Credit Card Info
              <span class="text-danger">*</span>
            </h6>

            <div id="card-element" class="p-3 border rounded mt-2"></div>

            <div class="mt-4">
              <button
                class="btn btn-primary px-5 py-2"
                type="button"
                (click)="submitNotice()"
                [disabled]="!noticeForm.valid"
              >
                Submit Death Notice
              </button>
            </div>
          </div>
        </div>
      </section>
    </ng-container>

    <!-- PAYPAL -->
    <ng-container *ngIf="paymentType === 'PayPal'">
      <section class="mt-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4">
            <app-paypal-button />
          </div>
        </div>
      </section>
    </ng-container>
  </form>
</div>
