<div class="container my-2">
  <div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <h2 class="fw-bold text-muted">Death Notice Edit Form</h2>
        <p>
          Please edit the fields you wish to change. Fields marked with an
          asterisk (<span class="text-danger fw-bold">*</span>) are required.
        </p>
      </div>
    </div>
    <div class="col-12">
      <form class="d-flex flex-column justify-content-center">
        <section class="" *ngIf="editNoticeModel.editImageMode">
          <app-image-upload [operation]="operation" />
        </section>

        <section
          class=""
          *ngIf="!editNoticeModel.editImageMode && editNoticeModel.imageId"
        >
          <div class="row">
            <div
              class="col-12 d-flex flex-column justify-content-center align-items-center"
            >
              <h4>{{ editNoticeModel.name }}</h4>
              <h6>
                <ng-container
                  *ngIf="editNoticeModel.birth_date_str; else noBirthDate"
                >
                  {{
                    editNoticeModel.birth_date_str
                      | date : "MMMM d, yyyy" : "UTC"
                  }}
                  -
                </ng-container>

                <ng-template #noBirthDate>
                  <span class="fw-bold">Died: </span>
                </ng-template>

                {{
                  editNoticeModel.death_date_str | date : "MMMM d, yyyy" : "UTC"
                }}
              </h6>

              <img
                class="img-fluid notice-image"
                [src]="apiUrl + '/image/' + editNoticeModel.imageId"
                alt="Notice image"
                loading="lazy"
              />
            </div>
          </div>
        </section>

        <section class="">
          <div class="row">
            <div class="row mt-3 d-flex justify-content-center">
              <div class="col-12 col-md-4 d-flex justify-content-center">
                <button
                  class="btn btn-primary px-4 py-2"
                  type="button"
                  (click)="toggleEditImageMode()"
                >
                  <span>Edit Image</span>
                </button>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="row d-none d-lg-flex">
                <div class="col-6 col-lg-4">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)">Name</span></strong
                    ></label
                  >
                </div>
                <div class="col-6 col-lg-4">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)"
                        >Date of Birth</span
                      ></strong
                    ></label
                  >
                </div>
                <div class="col-6 col-lg-4">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)"
                        >Date of Death</span
                      ></strong
                    ></label
                  >
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none me-2"
                    ><strong
                      ><span class="w-100" style="color: rgb(0, 0, 0)"
                        >Name:</span
                      ></strong
                    ></label
                  ><input
                    class="form-control"
                    type="text"
                    name="noticeName"
                    [(ngModel)]="editNoticeModel.name"
                    required
                    #nameCtrl="ngModel"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px; width: 100%"
                  />
                </div>
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none me-2"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)"
                        >Date of Birth:</span
                      ></strong
                    ></label
                  ><input
                    class="form-control"
                    type="date"
                    style="border-width: 1.8px"
                    title="Select bith date"
                    name="birth_date"
                    [(ngModel)]="editNoticeModel.birth_date_str"
                    #birth_date="ngModel"
                    (change)="saveNoticeData()"
                  />
                </div>
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none me-2"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)"
                        >Date of Death</span
                      ></strong
                    ></label
                  ><input
                    class="form-control"
                    type="date"
                    name="death_date"
                    [(ngModel)]="editNoticeModel.death_date_str"
                    #death_date="ngModel"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="d-flex justify-content-center">
            <div class="col-12 col-md-8">
              <label
                class="form-label fw-bold"
                style="font-size: 18px; text-decoration: underline"
                >Edit Death Announcement:</label
              ><textarea
                class="form-control"
                style="border-width: 1.8px"
                rows="15"
                name="announcement"
                [(ngModel)]="editNoticeModel.announcement"
                #announcement="ngModel"
                (selectionchange)="saveNoticeData()"
                sel
              ></textarea>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-6 col-md-8 col-lg-6">
              <div class="col-12 mb-2">
                <label
                  class="form-label fw-bold"
                  style="font-size: 18px; text-decoration: underline"
                  >Edit Events:</label
                ><small class="ms-2">(Wake, burial, repast, etc.)</small>
              </div>

              <div
                class="row mb-3 p-1"
                style="border: 2px solid #ddd"
                *ngFor="let event of editNoticeModel.events; let i = index"
              >
                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"><strong>Type:</strong></label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.type"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"><strong>Date:</strong></label>
                  <input
                    class="form-control"
                    type="date"
                    [(ngModel)]="event.date_str"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"><strong>Time:</strong></label>
                  <input
                    class="form-control"
                    type="time"
                    [(ngModel)]="event.time"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"
                    ><strong>Location:</strong></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.location"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"
                    ><strong>Address:</strong></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.address"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"><strong>City:</strong></label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.city"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 mb-2 d-md-flex flex-row align-items-center">
                  <label class="form-label me-2"><strong>State:</strong></label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="event.state"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 col-lg-1 d-flex align-items-end">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeEvent(i)"
                    *ngIf="editNoticeModel.events.length > 1"
                  >
                    ✕
                  </button>
                </div>
              </div>

              <button
                type="button"
                class="btn btn-outline-primary mt-2"
                (click)="addEvent()"
              >
                + Add Another Event
              </button>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <!-- Section title -->
              <div class="mb-2">
                <label
                  class="form-label fw-bold"
                  style="font-size: 18px; text-decoration: underline"
                >
                  Edit Contact Information:
                </label>
              </div>

              <div class="row d-none d-lg-flex">
                <div class="col-6 col-lg-3">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)">Name</span></strong
                    ></label
                  >
                </div>
                <div class="col-6 col-lg-3">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)"
                        >Relationship</span
                      ></strong
                    ></label
                  >
                </div>
                <div class="col-6 col-lg-3">
                  <label class="col-form-label"
                    ><strong
                      ><span style="color: rgb(0, 0, 0)">Phone</span></strong
                    ></label
                  >
                </div>
              </div>

              <div
                class="row mb-3"
                *ngFor="let contact of editNoticeModel.contacts; let i = index"
              >
                <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none"
                    ><strong>Name:</strong></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="contact.name"
                    name="name{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none"
                    ><strong>Relationship:</strong></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="contact.relationship"
                    name="relationship{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                  <label class="form-label d-lg-none"
                    ><strong>Phone:</strong></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="contact.phone"
                    name="phone{{ i }}"
                    (change)="saveNoticeData()"
                    style="border-width: 1.8px"
                  />
                </div>

                <div class="col-12 col-lg-1 d-flex align-items-end">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeContact(i)"
                    *ngIf="editNoticeModel.contacts.length > 1"
                  >
                    ✕
                  </button>
                </div>
              </div>

              <button
                type="button"
                class="btn btn-outline-primary mt-2"
                (click)="addContact()"
              >
                + Add Another Contact
              </button>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
              <label
                class="form-label fw-bold"
                style="font-size: 18px; text-decoration: underline"
                >Edit Groups:</label
              ><small class="ms-2">(optional)</small
              ><small class="d-block"
                >If the deceased was part of a group (school, work, family,
                etc.), you can select that group or add a new group. This will
                enable you to search for all members of that group who have
                passed. </small
              >
              <label
                class="form-label fw-bold mt-4 mb-0"
                style="font-size: 15px"
                >Edit Deceased's Current Group(s):</label
              >
              <ul class="list-unstyled">
                @for (group of editNoticeModel.groups; track $index) {
                <li>
                  {{ group.name }}
                  <i
                    *ngIf="group._id"
                    class="fa fa-times-rectangle btn-danger ms-4"
                    style="font-size: 16px; color: var(--bs-danger)"
                    (click)="removeDeceasedGroup(group)"
                  ></i>
                </li>
                }
              </ul>

              <label
                class="form-label fw-bold mt-4 mb-0"
                style="font-size: 15px"
                >Select group(s):</label
              >
              <small class="ms-2"
                >(press ctrl then click for multiple selections)</small
              >

              <select
                class="form-select"
                multiple
                [(ngModel)]="selectedGroups"
                (click)="addDeceasedGroup()"
              >
                <option *ngFor="let group of groups" [ngValue]="group">
                  {{ group.name }}
                </option>
              </select>

              <label
                class="form-label fw-bold mt-4 mb-0"
                style="font-size: 15px; font-weight: bold"
                >Create a new group:</label
              >

              <div
                class="col-12 col-lg-10 mb-2 mb-lg-0 d-flex flex-row align-items-center"
              >
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="newGroup"
                  name="name"
                  style="border-width: 1.8px"
                />
                <button class="btn btn-outline-primary" (click)="addNewGroup()">
                  <small>Save</small>
                </button>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <div class="d-flex justify-content-center">
            <div class="col-12 col-md-8">
              <label
                class="form-label fw-bold"
                style="font-size: 18px; text-decoration: underline"
                >Edit Additional Information:</label
              ><textarea
                class="form-control"
                style="border-width: 1.8px"
                rows="15"
                name="additionalInformation"
                [(ngModel)]="editNoticeModel.additionalInformation"
                #additionalInformation="ngModel"
                (selectionchange)="saveNoticeData()"
                sel
              ></textarea>
            </div>
          </div>
        </section>

        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-12 col-md-4">
            <button
              class="btn btn-primary px-4 py-2"
              type="button"
              (click)="submitNoticeEdits()"
            >
              Submit Notice Edits
            </button>
          </div>
        </div>

        <!-- <div class="row mt-5 d-flex justify-content-center">
          <h6 class="fw-bold">Enter Credit Card Info</h6>
          <div
            id="card-element"
            class="p-3 border rounded"
            style="border: 1px solid gray !important"
          ></div>
        </div> -->
      </form>
    </div>
  </div>
</div>
